:root {
    --main-nav-color: #cf8700;
    --secondary-nav-color: #016FA2;
    --last-nav-color:  #0104A2;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.navbar {
    width: 100%;
    background-color: var(--main-nav-color);
    min-height: 40px;
    
}

.nav-logo {
    color: white;
    text-decoration: none;
    font-size: 32px;
    margin-left: 1rem;
}

.nav-navigation{
    
    display: flex;
    padding: 0 2%;
    align-items: center;
    text-align: center;
}

.devider {
   flex: 1;
      
}
.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 6%;
    font-size: 20px;

}

.nav-link:hover,.nav-link:active {
    color: black  
}

.nav-link-list {
    list-style: none;
    display: flex;
}

.spacer {
    margin-right: 5%;
}
@media (max-width:768px)  {
    .nav-link-list {
        display: none;
    }
    
}

@media (min-width: 769px){
    .nav-toggle-button {
        display: none;
    }
    
    .nav-logo {
        margin-left: 0;
    }
}